.menu7 {
  // width: 100%;
  display: flex;
  justify-content: flex-end;

  box-sizing: border-box;
  height: 60px;
  button {
    background-color: transparent;
    outline: none;
  }
  button.iconMenu {
    float: right;
  }
  .nav {
    display: flex;
    float: right;
    .navButton {
      color: #ffff;
      font-size: 16px;
      font-weight: bold;
      margin-right: 33px;
      transition: 0.4s;
      margin-bottom: 0;
    }
    .navButton:hover,
    .active {
      color: #ef9f01;
      text-decoration: underline;
      font-size: 16px;
      font-weight: bold;
      margin-right: 33px;
      transition: 0.4s;
      margin-bottom: 0;
    }
  }
  .dotMobile {
    height: 15px;
    .borderDot,
    .borderDotActive {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: flex;
      margin-right: 3vw;
      align-items: center;
      justify-items: center;

      .dotM {
        width: 4px;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        margin: auto auto;
      }
    }
    .borderDotActive {
      border: 1px solid white;
    }

    .borderDot:hover {
      border: 1px solid white;
    }
  }
}

@media all and (min-width: 320px) {
  .menu7 {
    background-color: #ef9f01;
    justify-content: space-between;
    display: flex;
    margin: -3vh -4vw 0 -4vw;
    padding-right: 3vw;
    min-height: 70px;
    height: 15vh;
    align-items: center;

    .nav {
      display: none;
    }
    .dotMobile {
      display: flex;
    }
    button.iconMenu {
      position: relative;
      z-index: 3;
    }
    .drawerOnMobile {
      width: 60%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: #ef9f01;
      right: 0;
      z-index: 1;
      justify-content: center;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      button {
        width: 90%;
        align-self: center;
        margin: 2vh 0;
        padding: 1vh 7px;
        color: #ffff;
        font-size: 16px;
        font-weight: bold;
        transition: 0.4s;
        border-radius: 5px;
        text-align: left;
      }
      button:hover {
        background-color: #cfa144;
      }
      .active {
        background-color: #cfa144;
        font-size: 16px;
      }
    }
  }
}

@media all and (min-width: 600px) {
  .menu7 {
    margin: 0;
    padding-right: 0;
    .dotMobile {
      display: none;
    }
    background-color: transparent;
    .nav {
      display: flex;
      .navButton {
        font-size: 15px;
        margin-right: 1vw;
      }
      .navButton:hover {
        margin-right: 1vw;
        color: #ef9f01;
        font-size: 15px;
      }
      .active {
        margin-right: 1vw;
        color: #ef9f01;
        font-size: 15px;
      }
    }
    .drawerOnMobile {
      display: none;
    }
  }
}

@media all and (min-width: 1024px) {
  .menu7 {
    // width: 100%;
    display: flex;
    justify-content: flex-end;

    box-sizing: border-box;
    height: 60px;
    button {
      background-color: transparent;
      outline: none;
    }
    button.iconMenu {
      float: right;
    }
    .logo7 {
      display: none;
    }
    .nav {
      display: flex;
      float: right;
      .navButton {
        color: #ffff;
        font-size: 16px;
        font-weight: bold;
        margin-right: 33px;
        transition: 0.4s;
        margin-bottom: 0;
      }
      .navButton:hover,
      .active {
        color: #ef9f01;
        text-decoration: underline;
        font-size: 16px;
        font-weight: bold;
        margin-right: 33px;
        transition: 0.4s;
        margin-bottom: 0;
      }
    }
  }
}

@media all and (min-width: 1280px) {
}
