.authentication {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background-color: #cdd9fd;
  .wrapInputImage {
    margin: auto auto;
    background-color: #ffff;
    border-radius: 5px;
    padding: 0;

    // padding: 70px 0 70px 120px;
    .buttonComplete {
      width: 100%;
      font-weight: bold;
      font-size: 12px;
      background-color: #012a93;
      height: 45px;
      border-radius: 10px;
      color: #ffff;
      border-radius: 5px;
    }
    .inputStyle {
      font-size: 14px;
      height: 40px;
      border-radius: 8px;
    }
  }
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px;
}
@media screen and (min-width: 320px) {
  .authentication {
    .wrapInputImage {
      width: 90%;
      min-height: 90%;
      .input {
        padding: 20px 20px;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .authentication {
    .wrapInputImage {
      padding: 30px;
      width: 400px;
      min-height: 550px;
    }
  }
}
