.authentication {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  .wrapInputImage {
    width: 1158px;
    height: 648px;
    margin: auto auto;
    .input{
        padding: 74px 143px;
    }
  }
}
