.productItem {
  margin: 10px auto;
  background-color: rgb(245, 241, 241);
  transition: 0.5s;
  border-radius: 10px;

  .wrapPrice {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    button.addCard {
      outline: none;
      border: none;
      background-color: #ffc000;
      color: #fff;
      width: 164px;
      height: 40px;
      border-radius: 40px;
      transition: 0.4s;
    }
    button.addCard:hover {
      letter-spacing: 1px;
      transform: scale(1.02);
    }
    .price {
      color: #a80e0e;
      font-size: 22px;
      align-self: center;
      margin: 10px;
    }
  }
}
.productItem:hover {
  transform: scale(1.02);
  box-shadow: -7px 14px 16px 0px rgba(0, 0, 0, 0.75);
}
