.find {
  width: 100%;
  .section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin: 30px 0;
    .sectionLabel {
      font-size: 23px;
      color: #a80e0e;
      font-weight: bold;
    }
  }
  .wrapCategory {
    button {
      outline: none;
      border: none;
      border: 1px solid #bfd8f8;
      border-radius: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: 0.5s;
    }
    button:hover {
      border: 1px solid #ef4c00;
    }
  }
  .listProducts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
